<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Display {{ .UID }}</title>
        <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <style>
        body {
            font-family: 'Fira Sans', sans-serif;
        }
        #choose {
            max-width: 60em;
            margin: auto;
            border-radius: .4em;
            border: 1px solid rgb(170, 170, 170);
            padding: .5em;
        }
        </style>
        <h1>Liste #{{ .UID }}</h1>
        <div id="choose">
            <h2>Select</h2>
            <p class="select" id="s1">
                <select name="service">
                    <option value="txt">Text</option>
                    <option value="view">Anzeige</option>
                    <option value="csv">CSV</option>
                </select>
                <input type="text" placeholder="Ort (Parameter)">
                <input type="button" name="okBtn" value="OK">
                <input type="button" onclick="dels(1)" name="delBtn" value="Entfernen">
            </p>
            <p>
                <input type="button" name="newBtn" value="Neu">
            </p>
            <!-- List already entered selections -->
        </div>
        <script type="text/javascript">
            function dels(num) {
                document.removeChild(document.getElementById("s"+num))
            }
            var lon = 1
            function news() {
                lon += 1
                text = `<p class="select" id="s`+lon+`">
                    <select name="service">
                        <option value="txt">Text</option>
                        <option value="view">Anzeige</option>
                        <option value="csv">CSV</option>
                    </select>
                    <input type="text" placeholder="Ort (Parameter)">
                    <input type="button" name="okBtn" value="OK">
                    <input type="button" onclick="dels(`+lon+`)" name="delBtn" value="Entfernen">
                </p>`
            }
        </script>
    </body>
</html>
